# Dependency folders
node_modules/

# Build output
.next/
dist/
out/

# Vercel
.vercel/

# Environment variables
.env
.env.* 

# IDE settings
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
